.hero {
    padding: 3rem 1.7rem 1rem 1.7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    font-size: 0.9rem;
    gap: 25px;
    height:100vh;
    scroll-behavior: smooth;
    z-index: 99;
}


.hero a{
    color: #D3D3D3;
    transition: color 0.3s ease-out;
    z-index: 99;
}

.hero a:hover {
    color: #191919;
}

.projet.selected a{
  color: #191919;
}


  #hero-index {
    overflow: hidden;
  }
  
  #myBtn:hover {
    background-color: #b4b4b4; /* Add a dark-grey background on hover */
  }

.hero-index {
 
    font-size: 0.9rem;
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr;
}


.container {
    flex: 1 0 auto;
}



.projet a{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;

}


.projet a:hover{
 background-color: #b4b4b4;
 cursor: pointer;
 
}

.type {
    text-align: right;
}



.description a{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 99;
}


  
  #hero-index::-webkit-scrollbar {
    display: none;
  }

  #hero-index {
    overflow: scroll;
    height: 100%;
    scroll-behavior: smooth;
  }


  p.index-item.description {
    font-size: inherit;
  }

  .description {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transform: translateY(-5px);
    z-index: -99;
  }
  
  .description.entering {
    opacity: 1;
    max-height: 500px;  /* Valeur plus grande pour l'élément */
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 1s ease, max-height 4s ease;
  }
  
  .description.leaving {
    opacity: 0;
    max-height: 0px;  /* Valeur plus élevée pour faciliter la transition */
    transform: translateY(-5px);
    transition: opacity 0.5s ease, transform 1s ease, max-height 2s cubic-bezier(0, 1, 0, 1);;
  }

