.footerdev {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-start: 2;
    grid-row-end: 3;
}



.footerdev {
    color: #b4b4b4;
}

  a:hover .follow-img {
    opacity: 1;
  }
  
  .follow-img {
    opacity: 0;
    width: 100%;
    height: auto;
    max-width: 100px;
    box-sizing: border-box;
    transition: ease .2s;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 99;
    object-fit: cover;
    pointer-events: none;
  }
